<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="${'Edit - ' + department.departmentName}"></title>
<link rel="stylesheet"
          href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body>
<h1 th:text="${'Edit - ' + department.departmentName}"></h1>

<form action="#" th:action="@{#}" th:object="${department}" method="post">
      
          <label class="control-label" for="departmentName">Department Name <span class="required">*</span></label>
          <input type="text" th:field="*{departmentName}" required="required" />
          
         <select th:field="*{location}" id="locationId" onChange="onstatechange(this)" class="infobox">
    <option th:each="state : ${location}" th:value="${location.locationId}" th:text="${location.City}"></option>
</select>
      
      <input type="submit" value="send"/>
      
    <input type="hidden" th:field="*{departmentId}" />
</form>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	<script src="/webjars/jquery/jquery.min.js"></script>
</body>
</html>