<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Country List</title>
<link rel="stylesheet"
          href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body>
	<h1>List of Locations</h1>
	<table class="table table-striped">
		<thead class="thead-dark">
			<tr>
				<th scope="col">Locations Name</th>
				<th scope="col">Actions</th>
			</tr>
		</thead>
		<th:block th:each="location : ${location}">
		    <tr>
		        <th th:text="${location.city}" scope="row"></th>
		  		<th><a th:href="@{/location/update(id=${location.locationId})}" th:text="Update"></a></th>
		    </tr>
		</th:block>
	
	</table>
	
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	<script src="/webjars/jquery/jquery.min.js"></script>
</body>
</html>